<IfModule mod_rewrite.c>
	RewriteEngine on
	
	# Redirects /post/<xxx> to /binka/post/<xxx> where <xxx> is a permalink or shortlink
	RewriteRule ^post/(.*)$ slab.php?slab_url=binka/post/$1&%{QUERY_STRING} [L]
	# Same as above, but for short urls (/p/aaa)
	RewriteRule ^p/(.*)$ slab.php?slab_url=binka/post/$1&%{QUERY_STRING} [L]	
	
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ slab.php?slab_url=$1&%{QUERY_STRING} [L]
	RewriteRule ^$ slab.php [L]
</IfModule>